.button {
  display: inline-block;
  box-sizing: border-box;

  padding: 20px 15px;

  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25em;

  border: 2px solid #e2ae99;

  @media screen and (max-width: $width-sm) {
    padding: 10px 15px;
    width: 100%;

    font-size: 12px;
  }
}

.button:hover {
  transition: ease-in-out 0.3s;
}

.button--white {
  margin-top: 79px;
  color: #fff;
  border-color: #ffffff;

  @media screen and (max-width: $width-sm) {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.button--white:hover {
  color: #3f3f3f;
  background-color: #ffffff;
}

.button--black {
  max-width: 330px;
  background-color: transparent;
}

.modal .button--black {
  min-width: 330px;

  @media screen and (max-width: $width-sm) {
    min-width: unset;
    width: 100%;
  }
}

.button--black:hover {
  color: #ffffff;
  background-color: #e2ae99;
}