.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 5%;

  overflow-y: auto;

  @media screen and (max-width: 1050px) {
    padding-top: 0;
  }
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}

.btn-close {
  background-size: 30px;

  @media screen and (max-width: $width-md) {
    background-size: 20px;
  }
}

.btn-close:hover {
  transform: rotate(90deg);
  transition: ease-in-out 0.3s;
}

.btn-close:focus {
  outline: none;
}

.modal-dialog {
  min-width: 1000px;

  @media screen and (max-width: 1050px) {
    min-width: 100%;
    margin: 0;
  }
}

.modal-dialog--quest {
  min-width: 700px;

  @media screen and (max-width: 1050px) {
    min-width: 100%;
    margin: 0;
  }
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
}

.modal-header {
  align-items: flex-start;
  padding: 0;

  border: none;
}

.modal-content {
  padding: 50px;

  @media screen and (max-width: $width-md) {
    padding: 20px;
  }
}

.modal-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: $width-md) {
    flex-direction: column;
  }
}

.modal-body--quest {
  flex-direction: column;
}

.modal__img {
  width: 40%;
  min-height: 310px;

  img {
    object-fit: contain;
  }

  @media screen and (max-width: $width-md) {
    margin-bottom: 10px;
    width: 100%;
    min-height: unset;
    height: 185px;

    img {
      object-fit: cover;
    }
  }
}

.modal__dsc {
  width: 50%;

  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.01em;

  @media screen and (max-width: $width-md) {
    width: 100%;
  }
}

.modal .title {
  margin-bottom: 0;
  line-height: 100%;
}

.title--modal {
  font-size: rem(38px);

  @media screen and (max-width: $width-xl) {
    font-size: rem(28px);
  }

  @media screen and (max-width: $width-sm) {
    font-size: rem(18px);
    line-height: 120%;
  }
}


.modal__subtitle {
  margin-top: 15px;

  color: $font-gold;

  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.modal__subtitle--margin {
  margin-top: 0;
}

.modal__text {
  position: relative;
  padding-left: 15px;
}

.modal__text::before {
  position: absolute;
  content: "•";
  left: 5px;
  width: 1px;
  height: 1px;
}

.modal__group {
  margin-bottom: 10px;
}