.title {
  position: relative;
  z-index: 10;
  margin-bottom: 45px;

  font-size: rem(48px);
  font-weight: 300;

  line-height: 150%;

  @media screen and (max-width: $width-xl) {
    font-size: rem(30px);
    margin-bottom: 30px;
  }

  @media screen and (max-width: $width-sm) {
    font-size: rem(20px);
  }
}

.ingredient .title {
  @media screen and (max-width: $width-sm) {
    margin-bottom: 60px;
  }
}

.actions .title {
  @media screen and (max-width: $width-sm) {
    padding-right: 50px;
    margin-bottom: 0;
  }
}

.title--main {
  font-size: rem(60px);

  @media screen and (max-width: $width-xl) {
    font-size: rem(36px);
  }

  @media screen and (max-width: $width-sm) {
    font-size: rem(28px);
    line-height: 120%;
  }
}

.subtitle {
  margin-bottom: 35px;

  color: $font-gold;
  font-size: 16px;
  letter-spacing: 0.25em;

  @media screen and (max-width: $width-sm) {
    margin-bottom: 30px;

    font-size: 12px;
    line-height: 24px;
  }
}

.title--main,
.subtitle--white {
  color: #ffffff;
}

.subtitle--white {
  margin-bottom: 30px;

  @media screen and (max-width: $width-sm) {
    margin-bottom: 10px;
  }
}