.social {
  position: fixed;
  top: 360px;
  right: 195px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (max-width: 1850px) {
    right: 145px;
  }

  @media screen and (max-width: 1777px) {
    right: 100px;
  }

  @media screen and (max-width: 1645px) {
    right: 80px;
  }

  @media screen and (max-width: 1615px) {
    right: 60px;
  }
}

.social__link {
  margin-bottom: 19px;
}

.social__link svg {
  fill: #3f3f3f;
}

.social__link:hover svg {
  fill: #e2ae99;
  transition: ease-in-out 0.3s;
}

// ./social

.logo {
  margin-right: 90px;
}

.nav.active+.logo {
  z-index: 30;
}

// .intro
.intro {
  position: relative;
  padding-top: 88px;
}

.intro::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 604px;
  height: 604px;
  top: -300px;
  left: -300px;
  background: url("../img/bg/bg-dots01.png") no-repeat 50% 50%;
}

.intro__inner {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e2ae99;
}

.intro__item {
  padding: 0 29px 0 58px;

  max-width: 59%;
}

// ./intro
// .mission
.mission__inner {
  position: relative;
  padding: 100px 230px 128px 120px;
  margin-bottom: 100px;
  background-color: #f8d5c1;

  overflow: hidden;
}

.mission__inner::after {
  position: absolute;
  content: "";
  width: 611px;
  height: 611px;
  bottom: -300px;
  right: -300px;
  background: url("../img/bg/bg-circle01.png") no-repeat 50% 50%;
}

// ./mission

// .list
.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin-bottom: 50px;
}

.list__item {
  position: relative;

  padding-top: 30px;
  margin-right: 20px;
  margin-bottom: 70px;
  max-width: 32.0%;
}

.list__inner {
  margin-bottom: 20px;
  min-height: 72px;
}


.aboutbrand .list__inner {
  margin-bottom: 0;
}

.list__item--width {
  margin-right: 40px;
  margin-bottom: 50px;
  max-width: 244px;
}

.ingredient .list__item:nth-child(3n) {
  margin-right: 0;
}

.aboutbrand .list__item--width:nth-child(5n) {
  margin-right: 0;
}

.list__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 96px;
  height: 2px;

  background-color: #73877b;
}

.list__icon {
  position: absolute;
  top: 30px;
  left: 0;

  svg {
    fill: #73877b;
  }
}

.list__title {
  padding-left: 80px;

  color: $font-gold;
  font-size: 1rem;
  line-height: 150%;
}

.list__text--list {
  list-style: disc;
  padding: 0 15px;
}

.list__text--list li {
  margin-bottom: 25px;
}

.list__text--list li:last-child {
  margin-bottom: 0;
}

// ./list
// .aboutbrand
.aboutbrand {
  margin-bottom: 57px;
}

.aboutbrand__dsc {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e2ae99;
}

.aboutbrand__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e4cebe;
}

.aboutbrand__logo {
  z-index: 5;
  position: absolute;

  width: 378px;
  height: 72px;
}

.aboutbrand__img {
  mix-blend-mode: multiply;

  img {
    height: 100%;
  }
}

.aboutbrand__txt {
  padding: 0 145px 0 140px;
  flex-basis: 60%;

  color: #ffffff;

  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.aboutbrand__paragraph {
  margin-bottom: 40px;

  font-weight: 900;
}

// ./aboutbrand
// .advantages
.advantages {
  display: flex;
  justify-content: space-between;

  margin-bottom: 100px;
}

.advantages__item {
  max-width: 387px;
}

.advantages__title {
  margin-bottom: 28px;

  color: $font-gold;
  font-size: 24px;
}

.advantages__point {
  position: relative;
  padding-left: 29px;
  margin-bottom: 25px;
}

.advantages__point::before {
  position: absolute;
  content: "";
  left: 0;
  top: 4px;
  width: 16px;
  height: 16px;

  background: url("../img/icons/adv-icon.svg") no-repeat 50% 50%;
}

// ./advantages
// .forfemale
.forfemale {
  padding-top: 100px;
  padding-bottom: 72px;
  margin-bottom: 100px;

  background: #fff6f2;
}

.forfemale__inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.forfemale__img {
  margin-right: 115px;
  margin-left: auto;
  min-width: 447px;
  min-height: 447px;
}

.forfemale__list {
  position: relative;
  overflow: hidden;
  padding-top: 150px;
  margin-right: -30%;
}

// ./forfemale

// .slider

.slider__item {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // max-width: 268px;
  height: 340px;
}

.slider__inner {
  text-align: center;

  cursor: pointer;
}

.slider__inner:hover .slider__title {
  text-shadow: 3px 3px 8px rgba($color: #e2ae99, $alpha: 0.8);
  transition: ease-in-out 0.3s;
}

.slider__img {
  width: auto;
  height: 251px;
}

.slider__title {
  margin-bottom: 8px;

  color: #3f3f3f;
  font-size: 1rem;
  font-weight: 900;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 0;

  stroke: #73877b;
  fill: #73877b;
  font-size: 0;
  border: none;

  background-color: transparent;
}

.slick-prev {
  left: 625px;
}

.slick-next {
  left: 750px;
}

.slick-prev:hover,
.slick-next:hover {
  stroke: #e2ae99;
  fill: #e2ae99;

  transition: ease-in-out 0.3s;
}

// ./slider
// .formale
.formale {
  margin-bottom: 100px;

  background-color: #fcfcfc;
}

.formale__container {
  margin-bottom: 35px;
  text-align: right;
}

.formale__wrapper {
  display: flex;
  justify-content: space-between;
}

.formale__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 50%;
}

.formale__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 268px;
  height: 340px;
}

.formale__item--wide {
  max-width: 340px;
}

.formale__img {
  max-width: 268px;
  max-height: 260px;
}

.formale__img--big {
  max-width: 447px;
  max-height: 447px;
}

.formale__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formale__title {
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 8px;
  width: 150%;

  color: #3f3f3f;
  font-size: 1rem;
  font-weight: 900;
}

// ./formale
// .actions
.actions {
  padding: 100px 0 140px;
  margin-bottom: 100px;

  background-color: #ffffff;
}

.actions__row {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 100px 0;
}

.actions__col {
  z-index: 10;
}

.actions__col--rel {
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34%;
  height: 100%;

  img {
    position: absolute;
    min-width: 586px;
    min-height: 586px;
  }
}

.actions__list--right {
  text-align: right;
}

.actions__item {
  margin-bottom: 70px;
}

.actions__title {
  font-weight: 300;
  font-size: 48px;
  line-height: 150%;

  color: $font-gold;
  text-transform: uppercase;
}

.actions__subtitle {
  font-size: 24px;
}

.actions__bottom {
  position: relative;
  padding-left: 135px;
  margin-left: 65px;

  font-weight: 300;
  font-size: 60px;
  line-height: 120%;

  color: #e2ae99;

  text-transform: uppercase;
}

.actions__bottom span {
  position: absolute;
  top: -100px;
  left: 0;
  font-weight: 400;
  font-size: 240px;
  line-height: 120%;

  color: #f8d5c1;
}

.actions__text {
  padding-left: 225px;
  padding-right: 245px;
  margin-left: 65px;

  font-weight: 300;
  font-size: 48px;
  line-height: 150%;
}

// ./actions
// .promo
.promo {
  display: flex;
  justify-content: space-between;

  margin-bottom: 174px;
}

.promo__img {
  margin-right: 136px;

  min-width: 447px;
  min-height: 447px;
}

.promo__dsc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// ./promo
// .review
.review {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

  background-color: #f8d5c1;
}

.review__dsc {
  position: relative;
  padding: 100px 150px 2px 151px;
  width: 60%;

  overflow: hidden;
}

.review__dsc::before {
  position: absolute;
  content: "";
  width: 611px;
  height: 611px;
  top: -165px;
  right: -300px;
  background: url("../img/bg/bg-circle01.png") no-repeat 50% 50%;
}

.review__img {
  width: 564px;
  height: 800px;
}

.review__subtitle {
  margin-left: -25px;
}

.review__quote {
  z-index: 5;
  position: relative;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 150%;

  letter-spacing: 0.01em;
}

.review__caption {
  color: $font-gold;
  font-size: 24px;
}

.review__paragraph {
  margin-bottom: 25px;
  font-size: 1rem;
}

// ./review
// .scientific
.scientific {
  margin-bottom: 80px;
}

.scientific__container {
  display: flex;
  justify-content: space-between;

  img {
    margin-bottom: 40px;
    height: auto;
  }
}

.scientific__dsc {
  padding-left: 118px;
  width: 51%;
}

.scientific__paragraph {
  margin-bottom: 25px;
}

.scientific__paragraph span {
  font-weight: 900;
}

.scientific__list {
  position: relative;
  padding-left: 54px;
}

.scientific__list::before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "1";
  left: 0;
  top: 0;
  width: 27px;
  height: 27px;

  color: #ffffff;

  border-radius: 50%;
  background-color: #3f3f3f;
}

.scientific__list--second {
  margin-top: 20px;
}

.scientific__list--second::before {
  content: "2";
}

.scientific__list span {
  font-weight: 900;
}

// ./scientific
// .distributor
.distributor {
  padding: 100px 88px;
  margin-bottom: 120px;

  background-color: #ffffff;
}

.distributor__col {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 78px;
}

.distributor__img {
  margin-right: 128px;
  width: 72px;
  height: 96px;
}

.distributor__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 28px 12px 97px;
  margin-bottom: 17px;

  background-color: #fbfbfb;
}

.distributor__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.distributor__contacts {
  display: flex;
  flex-direction: column;
}

.distributor__name {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.distributor__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.distributor__item {
  margin-bottom: 15.2px;
}

.distributor__text {
  padding: 0 225px;
  margin-top: 16px;
}

.distributor__link:hover {
  color: #c6a477;
  transition: ease-in-out 0.5s;
}

// ./distributor
// .contacts
.contacts {
  margin-bottom: 40px;
}

.contacts__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

.contacts__logo {
  margin-right: 90px;
  min-width: 144px;
  height: 104px;
}

.contacts__dsc {
  padding-right: 440px;
  font-size: 24px;
  line-height: 150%;

  letter-spacing: 0.01em;
}

.contacts__data {
  max-width: 425px;

  // 
  font-size: 24px;
  line-height: 150%;

  letter-spacing: 0.01em;
}

.contacts__link {
  display: inline-block;
  margin-top: 35px;

  color: $font-gold;
  font-size: 24px;
  line-height: 150%;

  letter-spacing: 0.01em;
}

.contacts__link:hover {
  color: #c6a477;
  transition: ease-in-out 0.5s;
}

// ./contacts
// .arrowup
.arrowup {
  margin-bottom: 59px;

  text-align: center;
}

.arrowup__link svg {
  width: 100%;
  fill: #c6a477;
}

.arrowup__link:hover svg {
  fill: #3f3f3f;
  transition: ease-in-out 0.5s;
}

.arrowup__link:hover .arrowup__text {
  color: #3f3f3f;
  transition: ease-in-out 0.5s;
}

.arrowup__text {
  color: #c6a477;
  line-height: 24px;
  letter-spacing: 0.25em;
}

// ./arrowup