.social {
  z-index: 15;
  position: fixed;
  top: 360px;
  right: 195px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (max-width: 1850px) {
    right: 145px;
  }

  @media screen and (max-width: 1777px) {
    right: 100px;
  }

  @media screen and (max-width: 1645px) {
    right: 80px;
  }

  @media screen and (max-width: 1615px) {
    right: 60px;
  }

  @media screen and (max-width: 1600px) {
    right: 40px;
  }

  @media screen and (max-width: 1520px) {
    right: 20px;
  }

  @media screen and (max-width: 1482px) {
    right: 0;
  }

  @media screen and (max-width: $width-lg) {
    z-index: 25;
    flex-direction: row;
    justify-content: center;

    right: 0;
    left: 0;
    top: 30px;
  }
}

.social__link {
  margin-bottom: 19px;

  font-size: 0;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 0;
    margin-right: 20px;
  }

  @media screen and (max-width: 440px) {
    margin-right: 10px;
  }
}

.social__link svg {
  fill: #3f3f3f;

  @media screen and (max-width: 440px) {
    width: 14.5px;
    height: 14.5px;
  }
}

.social__link:hover svg {
  fill: #e2ae99;
  transition: ease-in-out 0.3s;
}

// ./social

.logo {
  z-index: 15;
  margin-right: 90px;

  @media screen and (max-width: 540px) {
    max-width: 99px;
    max-height: 19px;
  }
}

.nav.active+.logo {
  z-index: 30;
}

// .intro
.intro {
  position: relative;
  padding-top: 88px;

  @media screen and (max-width: $width-sm) {
    padding-top: 78px;
    background-color: #e2ae99;
  }
}

.intro::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 604px;
  height: 604px;
  top: -300px;
  left: -300px;
  background: url("../img/bg/bg-dots01.png") no-repeat 50% 50%;

  @media screen and (max-width: $width-sm) {
    display: none;
  }
}

.intro__inner {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e2ae99;

  @media screen and (max-width: $width-lg) {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
  }
}

.intro__item {
  padding: 0 29px 0 58px;

  max-width: 59%;

  @media screen and (max-width: $width-lg) {
    padding: 0 10px 0 9px;
    max-width: unset;
  }
}

.intro__img {
  @media screen and (max-width: $width-lg) {
    max-height: 183px;
    width: 100%;
    overflow: hidden;

    img {
      height: auto;
    }
  }
}

// ./intro
// .mission
.mission {
  @media screen and (max-width: $width-sm) {
    padding: 0;
  }
}

.mission__inner {
  position: relative;
  padding: 100px 230px 128px 120px;
  margin-bottom: 100px;
  background-color: #f8d5c1;

  overflow: hidden;

  @media screen and (max-width: $width-sm) {
    padding: 130px 15px 170px 15px;
    margin-bottom: 70px;
  }
}

.mission__inner::after {
  position: absolute;
  content: "";
  width: 611px;
  height: 611px;
  bottom: -300px;
  right: -300px;
  background: url("../img/bg/bg-circle01.png") no-repeat 50% 50%;
}

// ./mission

// .list
.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin-bottom: 50px;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 40px;
  }
}

.list__item {
  position: relative;

  padding-top: 30px;
  margin-right: 20px;
  margin-bottom: 70px;
  max-width: 32%;

  @media screen and (max-width: $width-lg) {
    margin-right: 0;
    margin-bottom: 30px;

    max-width: unset;
  }
}

.list__inner {
  margin-bottom: 20px;
  min-height: 72px;

  @media screen and (max-width: $width-lg) {
    min-height: 50px;
  }
}


.aboutbrand .list__inner {
  margin-bottom: 0;
}

.list__item--width {
  margin-right: 40px;
  margin-bottom: 50px;
  max-width: 244px;

  @media screen and (max-width: $width-lg) {
    margin-right: 0;
    margin-bottom: 0;

    max-width: unset;
  }
}

.ingredient .list__item:nth-child(3n) {
  margin-right: 0;
}

.aboutbrand .list__item--width:nth-child(5n) {
  margin-right: 0;
}

// .list__item::before {
//   position: absolute;
//   top: 0;
//   left: 0;
//   content: "";
//   width: 96px;
//   height: 2px;

//   background-color: #73877b;
// }

.list__icon {
  position: absolute;
  top: 30px;
  left: 0;

  svg {
    fill: #73877b;
  }
}

.list__title {
  padding-left: 80px;

  color: $font-gold;
  font-size: 1rem;
  line-height: 150%;

  @media screen and (max-width: $width-lg) {
    padding-left: 60px;
    font-size: 14px;
  }
}

.list__text--list {
  list-style: disc;
  padding: 0 15px;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 40px;
  }
}

.list__text--list li {
  margin-bottom: 25px;
}

.list__text--list li:last-child {
  margin-bottom: 0;
}

// ./list
// .aboutbrand
.aboutbrand {
  margin-bottom: 57px;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 0;
  }
}

.aboutbrand__dsc {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e2ae99;

  @media screen and (max-width: $width-lg) {
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.aboutbrand__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e4cebe;
}

.aboutbrand__logo {
  z-index: 5;
  position: absolute;

  width: 378px;
  height: 72px;

  @media screen and (max-width: $width-lg) {
    width: 238px;
    height: 45px;
  }
}

.aboutbrand__img {
  mix-blend-mode: multiply;

  img {
    height: 100%;
  }
}

.aboutbrand__txt {
  padding: 0 145px 0 140px;
  flex-basis: 60%;

  color: #ffffff;

  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;

  @media screen and (max-width: $width-lg) {
    padding: 30px 15px 55px 15px;
    font-size: 16px;
  }
}

.aboutbrand__paragraph {
  margin-bottom: 40px;

  font-weight: 900;
}

// ./aboutbrand
// .advantages
.advantages {
  display: flex;
  justify-content: space-between;

  margin-bottom: 100px;

  @media screen and (max-width: $width-lg) {
    flex-wrap: wrap;

    margin-bottom: 30px;
  }
}

.advantages__item {
  position: relative;
  max-width: 387px;
}

.advantages__icon {
  position: absolute;
  top: -10px;
  left: 0;

  svg {
    fill: #73877b;
  }
}

.advantages__title {
  padding-left: 80px;
  margin-bottom: 28px;

  color: $font-gold;
  font-size: 24px;

  @media screen and (max-width: $width-lg) {
    padding-left: 60px;
    font-size: 20px;
  }
}

.advantages__list {
  @media screen and (max-width: $width-md) {
    margin-bottom: 40px;
  }
}

.advantages__point {
  position: relative;
  padding-left: 29px;
  margin-bottom: 25px;

  @media screen and (max-width: $width-md) {
    margin-bottom: 15px;
  }
}

.advantages__point::before {
  position: absolute;
  content: "";
  left: 0;
  top: 4px;
  width: 16px;
  height: 16px;

  background: url("../img/icons/adv-icon.svg") no-repeat 50% 50%;
}

// ./advantages
// .product

.product {
  @media screen and (max-width: $width-lg) {
    position: relative;
  }
}

// ./product
// .forfemale
.forfemale {
  position: relative;
  padding-top: 100px;
  padding-bottom: 72px;
  margin-bottom: 100px;

  background: #fff6f2;

  @media screen and (max-width: $width-lg) {
    padding-top: 70px;
    padding-bottom: 0;
    margin-bottom: 70px;

    background: unset;
  }
}

.forfemale__inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.forfemale__img {
  margin-right: 115px;
  margin-left: auto;
  min-width: 447px;
  min-height: 447px;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 70px;
    right: 0;
    margin-right: 15px;
    min-width: unset;
    min-height: unset;
    max-width: 87px;
    max-height: 87px;
  }
}

.forfemale__list {
  position: relative;
  overflow: hidden;
  padding-top: 150px;
  margin-right: -30%;

  @media screen and (max-width: 767px) {
    padding-top: 39px;
    margin-right: 0;
  }
}

// ./forfemale

// .slider

.slider__item {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 340px;

  @media screen and (max-width: $width-sm) {
    height: 300px;
  }
}

.slider__inner {
  text-align: center;
  cursor: pointer;
}

.slider__inner:hover .slider__title {
  text-shadow: 3px 3px 8px rgba($color: #e2ae99, $alpha: 0.8);
  transition: ease-in-out 0.3s;
}

.slider__img {
  width: auto;
  height: 251px;
}

.slider__title {
  margin-bottom: 8px;

  color: #3f3f3f;
  font-size: 1rem;
  font-weight: 900;

  @media screen and (max-width: 767px) {
    font-size: 14px;
    color: $font-gold;
    font-weight: 400;
  }
}

.slider__dsc {
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 0;

  stroke: #73877b;
  fill: #73877b;
  font-size: 0;
  border: none;

  background-color: transparent;

  @media screen and (max-width: 767px) {
    top: 125px;
  }
}

.slick-prev {
  left: 625px;

  @media screen and (max-width: 1405px) {
    left: 0;
  }
}

.slick-next {
  left: 730px;

  @media screen and (max-width: 1405px) {
    left: 110px;
  }

  @media screen and (max-width: 376px) {
    left: 75%;
  }

  @media screen and (max-width: 320px) {
    left: 215px;
  }
}

.slick-prev:hover,
.slick-next:hover {
  stroke: #e2ae99;
  fill: #e2ae99;

  transition: ease-in-out 0.3s;
}

// ./slider
// .formale
.formale {
  position: relative;
  margin-bottom: 100px;

  background-color: #fcfcfc;
}

.formale__container {
  margin-bottom: 35px;
  text-align: right;
}

.formale__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.formale__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 50%;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.formale__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 268px;
  height: 340px;
}

.formale__item--wide {
  max-width: 340px;
}

.formale__img {
  max-width: 268px;
  max-height: 260px;

  @media screen and (max-width: 767px) {
    margin: 0 auto;
    max-width: 230px;
    max-height: 222px;
  }
}

.formale__img--big {
  max-width: 447px;
  max-height: 447px;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 15px;
    margin-right: 15px;
    min-width: unset;
    min-height: unset;
    max-width: 87px;
    max-height: 87px;
  }
}

.formale__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}

.formale__inner:hover .formale__title {
  text-shadow: 3px 3px 8px rgba($color: #3f3f3f, $alpha: 0.5);
  transition: ease-in-out 0.3s;
}

.formale__title {
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 8px;
  width: 150%;

  color: #3f3f3f;
  font-size: 1rem;
  font-weight: 900;

  @media screen and (max-width: 767px) {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    color: $font-gold;
  }
}

.formale__dsc {
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

.formale-prev,
.formale-next {
  display: none !important;

  @media screen and (max-width: 1100px) {
    display: inline-block !important;
    position: absolute;
    top: 180px;

    stroke: #73877b;
    fill: #73877b;
    font-size: 0;
    border: none;

    background-color: transparent;

    @media screen and (max-width: 320px) {
      top: 190px;
    }
  }
}

.formale-prev {
  left: 0;

  @media screen and (max-width: 320px) {
    left: 15px;
  }
}

.formale-next {
  left: 110px;

  @media screen and (max-width: 376px) {
    left: 75%;
  }

  @media screen and (max-width: 320px) {
    left: 215px;
  }
}

.formale-prev:hover,
.formale-next:hover {
  stroke: #e2ae99;
  fill: #e2ae99;

  transition: ease-in-out 0.3s;
}

// ./formale
// .actions
.actions {
  padding: 100px 0 140px;
  margin-bottom: 100px;

  background-color: #ffffff;

  @media screen and (max-width: $width-lg) {
    padding: 0;
    margin-bottom: 58px;

    background-color: unset;
  }
}

.actions__row {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 100px 0;

  @media screen and (max-width: $width-lg) {
    flex-direction: column;
    justify-content: space-between;
    padding: 42px 0;
  }
}

.actions__col {
  z-index: 10;

  @media screen and (max-width: $width-lg) {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}

.actions__col--rel {
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34%;
  height: 100%;

  img {
    position: absolute;
    min-width: 588px;
    min-height: 588px;
  }

  @media screen and (max-width: $width-lg) {
    width: 100%;
    min-height: 187px;

    img {
      position: absolute;
      min-width: 292px;
      min-height: 292px;
    }
  }
}

.actions__list--right {
  text-align: right;

  @media screen and (max-width: $width-lg) {
    text-align: left;
  }
}

.actions__item {
  margin-bottom: 70px;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 38px;
  }
}

.actions__title {
  font-weight: 300;
  font-size: 48px;
  line-height: 150%;

  color: $font-gold;
  text-transform: uppercase;

  @media screen and (max-width: $width-lg) {
    font-size: 20px;
  }
}

.actions__subtitle {
  font-size: 24px;

  @media screen and (max-width: $width-lg) {
    margin-top: 6px;
    font-size: 20px;
  }
}

.actions__bottom {
  position: relative;
  padding-left: 135px;
  margin-left: 65px;

  font-weight: 300;
  font-size: 60px;
  line-height: 120%;

  color: #e2ae99;

  text-transform: uppercase;

  @media screen and (max-width: $width-lg) {
    padding-left: 79px;
    margin-left: -5px;
    font-size: 28px;
  }
}

.actions__bottom span {
  position: absolute;
  top: -100px;
  left: 0;
  font-weight: 400;
  font-size: 240px;
  line-height: 120%;

  color: #f8d5c1;

  @media screen and (max-width: $width-lg) {
    top: -35px;
    font-size: 140px;
  }
}

.actions__text {
  padding-left: 225px;
  padding-right: 245px;
  margin-left: 65px;

  font-weight: 300;
  font-size: 48px;
  line-height: 150%;

  @media screen and (max-width: $width-lg) {
    padding-left: 52px;
    padding-right: 0;
    margin-left: 0;
    margin-top: 27px;

    font-size: 20px;
  }
}

// ./actions
// .promo
.promo {
  display: flex;
  justify-content: space-between;

  margin-bottom: 174px;

  @media screen and (max-width: $width-lg) {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.promo__img {
  margin-right: 136px;

  min-width: 447px;
  min-height: 447px;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 44px;

    min-width: unset;
    min-height: unset;
    height: 316px;
    width: 100%;
  }
}

.promo__dsc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// ./promo
// .review
.review {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

  background-color: #f8d5c1;

  @media screen and (max-width: $width-lg) {
    flex-direction: column;

    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 70px;
  }
}

.review__dsc {
  position: relative;
  padding: 100px 150px 2px 151px;
  width: 60%;

  overflow: hidden;

  @media screen and (max-width: $width-lg) {
    padding: 68px 15px 0 15px;

    width: 100%;
  }
}

.review__dsc::before {
  position: absolute;
  content: "";
  width: 611px;
  height: 611px;
  top: -165px;
  right: -300px;
  background: url("../img/bg/bg-circle01.png") no-repeat 50% 50%;

  @media screen and (max-width: $width-lg) {
    right: -415px;
  }
}

.review__img {
  width: 564px;
  height: 800px;

  @media screen and (max-width: $width-lg) {
    width: 100%;
    height: auto;
  }
}

.review__subtitle {
  margin-left: -25px;

  @media screen and (max-width: $width-lg) {
    margin-left: 0;
  }
}

.review__quote {
  z-index: 5;
  position: relative;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 150%;

  letter-spacing: 0.01em;

  @media screen and (max-width: $width-lg) {
    font-size: 16px;
  }
}

.review__caption {
  color: $font-gold;
  font-size: 24px;

  @media screen and (max-width: $width-lg) {
    font-size: 16px;
  }
}

.review__paragraph {
  margin-bottom: 25px;
  font-size: 1rem;
}

// ./review
// .scientific
.scientific {
  margin-bottom: 80px;

  @media screen and (max-width: $width-lg) {
    margin-bottom: 0;
  }
}

.scientific__container {
  display: flex;
  justify-content: space-between;

  img {
    margin-bottom: 40px;

    min-width: 500px;
    height: auto;
  }

  @media screen and (max-width: $width-lg) {
    flex-direction: column;
  }
}

.scientific__dsc {
  padding-left: 118px;
  width: 51%;

  @media screen and (max-width: $width-lg) {
    padding-left: 0;
    width: 100%;
  }
}

.scientific__paragraph {
  margin-bottom: 25px;
}

.scientific__paragraph span {
  font-weight: 900;
}

.scientific__list {
  position: relative;
  padding-left: 54px;

  @media screen and (max-width: $width-lg) {
    padding-left: 35px;
  }
}

.scientific__list::before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "1";
  left: 0;
  top: 0;
  width: 27px;
  height: 27px;

  color: #ffffff;

  border-radius: 50%;
  background-color: #3f3f3f;
}

.scientific__list--second {
  margin-top: 20px;
}

.scientific__list--second::before {
  content: "2";
}

.scientific__list span {
  font-weight: 900;
}

// ./scientific
// .distributor
.distributor {
  position: relative;
  overflow: hidden;
  padding: 100px 88px;
  margin-bottom: 120px;

  background-color: #ffffff;

  @media screen and (max-width: $width-lg) {
    padding: 49px 10px;
    margin-bottom: 0;
    background-color: unset;
  }
}

.distributor::before {
  position: absolute;
  content: "";
  width: 611px;
  height: 611px;
  top: -260px;
  right: -380px;
  background: url("../img/bg/bg-circle01.png") no-repeat 50% 50%;

  @media screen and (max-width: $width-lg) {
    display: none;
  }
}

.distributor__col {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 78px;

  @media screen and (max-width: $width-lg) {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}

.distributor__img {
  margin-right: 128px;
  width: 72px;
  height: 96px;

  @media screen and (max-width: $width-lg) {
    margin-right: 0;
    margin-bottom: 28px;
  }
}

.distributor__row {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 28px 12px 97px;
  margin-bottom: 17px;

  background-color: #fbfbfb;

  @media screen and (max-width: $width-lg) {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.distributor__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $width-lg) {
    flex-direction: column;
  }
}

.distributor__contacts {
  display: flex;
  flex-direction: column;
}

.distributor__name {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;

  @media screen and (max-width: $width-lg) {
    font-size: 16px;
    text-align: center;
  }
}

.distributor__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: $width-lg) {
    width: 100%;
  }
}

.distributor__item {
  margin-bottom: 15.2px;

  @media screen and (max-width: $width-lg) {
    width: 141px;
  }
}

.distributor__text {
  padding: 0 225px 0 30px;
  margin-top: 16px;

  @media screen and (max-width: $width-lg) {
    padding: 0;
    text-align: center;
  }
}

.distributor__link:hover {
  color: #c6a477;
  transition: ease-in-out 0.5s;
}

// ./distributor
// .contacts
.contacts {
  margin-bottom: 40px;
}

.contacts__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;

  @media screen and (max-width: $width-sm) {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 38px;
  }
}

.contacts__logo {
  margin-right: 90px;
  min-width: 144px;
  height: 104px;

  @media screen and (max-width: $width-sm) {
    margin-right: 0;
  }
}

.contacts__dsc {
  padding-right: 440px;
  font-size: 24px;
  line-height: 150%;

  letter-spacing: 0.01em;

  @media screen and (max-width: $width-sm) {
    padding-right: 0;
    margin-top: 30px;
    font-size: 16px;
  }
}

.contacts__data {
  max-width: 425px;

  font-size: 24px;
  line-height: 150%;

  letter-spacing: 0.01em;

  @media screen and (max-width: $width-sm) {
    font-size: 16px;
  }
}

.contacts__link {
  display: inline-block;
  margin-top: 35px;

  color: $font-gold;
  font-size: 24px;
  line-height: 150%;

  letter-spacing: 0.01em;

  @media screen and (max-width: $width-sm) {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
  }
}

.contacts__link:hover {
  color: #c6a477;
  transition: ease-in-out 0.5s;
}

// ./contacts
// .arrowup
.arrowup {
  margin-bottom: 59px;

  text-align: center;

  @media screen and (max-width: $width-sm) {
    margin-bottom: 30px;
  }
}

.arrowup__link svg {
  width: 100%;
  fill: #c6a477;
}

.arrowup__link:hover svg {
  fill: #3f3f3f;
  transition: ease-in-out 0.5s;
}

.arrowup__link:hover .arrowup__text {
  color: #3f3f3f;
  transition: ease-in-out 0.5s;
}

.arrowup__text {
  color: #c6a477;
  line-height: 24px;
  letter-spacing: 0.25em;
}

// ./arrowup