.logo {
  order: 1;
  margin-right: 90px;

  @media(max-width: $width-lg) {
    margin: 0 auto;
  }
}

.nav.active+.logo {
  z-index: 30;

  filter: brightness(5);
}

// .intro
.intro__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e2ae99;
}

.intro__item {
  padding: 0 29px 0 58px;

  max-width: 59%;
}

// ./intro