{% set title = "Floema | Home" %}
{% include "../templates/header.njk" %}
<div id="overlay"></div>
<header class="header container">
  <nav class="nav">
    <a class="nav__item" href="#about">О бренде</a>
    <a class="nav__item" href="#catalog">Каталог</a>
    <a class="nav__item" href="#ingredient">Состав</a>
    <a class="nav__item" href="#buy">Где купить?</a>
    <a class="nav__item" href="#contacts">Контакты</a>
  </nav>
  <div class="logo">
    <img class="logo__img" src="assets/img/bg/logo.png" alt="Floema" width="145" height="28">
  </div>
  <div class="hamburger">
    <span></span>
  </div>
</header>
<section class="intro container">
  <div class="intro__inner">
    <div class="intro__item">
      <p class="subtitle subtitle--white">Профессиональная линейка продуктов</p>
      <h1 class="title title--white">Комплексное решение проблем роста и&nbsp;выпадения волос</h1>
      <a class="btn" href="#">Информация для врачей</a>
    </div>
    <div class="intro__img">
      <img src="assets/img/bg/bg-intro.png" alt="" width="561" height="700">
    </div>
  </div>
</section>




{% include "../templates/footer.njk" %}